* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search_box {
  list-style: none;
  width: 98%;
  margin: 30px;
  padding: 0 20px;
  justify-content: center;
  text-align: right;
  color: #f55a00;
}

.search_text {
  padding: 5px 20px;
  border: #f55a00 solid 1px;
  background: #fff;
  margin-right: 3px;
  border-radius: 5px;
}

.search_button {
  margin-left: 8px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #fff;
  border: #f55a00 solid 1px;
  transition: 0.3s ease-out;
}

.search_results {
  margin-top: 5px;
  margin-left: 50px;
  text-align: center;
  justify-content: left;
  list-style: none;
  font-size: 18px;
  transition: 0.3s ease-out;
  background: #f4ebd0;
  border-radius: 10px;
}

.search_results ul {
  color: #000;
  text-decoration: none;
  list-style: none;
  padding: 5px;
  border-radius: 10px;
}
.search_results a {
  text-decoration: none;
}
.search_results li {
  text-decoration: none;
}

h3 {
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.884);
  text-decoration: none;
  color: #f55a00;
  border-radius: 5px;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border: #f55a00 solid 2px;
}

.search_button:hover {
  background: #f55a00;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.884);
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.search_results:hover {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.884);
  text-decoration: none;
  color: #000;
  background: #f55a00;
  border-radius: 10px;
}

.search_results ul:hover {
  text-decoration: none;
  transition: 0.3s ease-in;
  color: #000;
  background: #f55a00;
  border-radius: 10px;
}
.search_results a:hover {
  text-decoration: none;
  color: #000;
  background: #f55a00;
  border-radius: 10px;
}
